NEXT_PUBLIC_SOLANA_RPC_ENDPOINT=
NEXT_PUBLIC_SOLANA_WS_ENDPOINT=
NEXT_PUBLIC_API_ENDPOINT=

# X1 Airdrop Integration
NEXT_PUBLIC_X1_RPC_ENDPOINT=https://rpc.testnet.x1.xyz
NEXT_PUBLIC_AIRDROP_PROGRAM_ID=xen8pjUWEnRbm1eML9CGtHvmmQfruXMKUybqGjn3chv
NEXT_PUBLIC_X1_EXPLORER_URL=https://explorer.testnet.x1.xyz

# Token Mint Addresses
NEXT_PUBLIC_XNM_TOKEN_MINT=XNMbEwZFFBKQhqyW3taa8cAUp1xBUHfyzRFJQvZET4m
NEXT_PUBLIC_XBLK_TOKEN_MINT=XBLKLmxhADMVX3DsdwymvHyYbBYfKa5eKhtpiQ2kj7T
NEXT_PUBLIC_XUNI_TOKEN_MINT=XUNigZPoe8f657NkRf7KF8tqj9ekouT4SoECsD6G2Bm
